.page {
    min-height: 100vh;
    background-color: rgb(243, 177, 9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.box {
    width: 273px;
    height: 220px;
    border-radius: 1px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* Two different colors for boxes */
.blue {
    background-color: #03071E;
}
.maroon {
    background-color: #6A040F;
}
.circle {
    width: 100px;
    height: 100px;
    border-color: #748CAB;
    border-radius: 50px;
}